* {
	margin: 0;
	padding: 0;
}

.sidebar {
	height: 100vh;
}

.display-content {
	height: 100vh;
}

.dc-header {
	height: 50px;
}

.dc-content {
	height: calc(100vh - 50px);
	overflow-y: scroll;
	padding: 2%;
}

.dc-content::-webkit-scrollbar {
	display: none !important;
}

.dc-content {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.bottom-nav {
	position: fixed;
	height: 50px;
	top: calc(100vh - 50px);
}

@media only screen and (max-width: 720px) {
	.display-content {
		height: calc(100vh - 50px);
	}
	.dc-content {
		height: calc(100vh - 100px);
	}
}
