.profile-pic {
	padding: 5px;
	height: 50px;
	width: 50px;
	margin-left: calc(100% - 50px);
}

.profile-pic:hover {
	cursor: pointer;
}

.popover-list {
	padding: 0;
}

.popover-item {
	cursor: pointer;
}

.popover-item span {
	padding: 0 20px;
}

.cancel {
	margin-left: 30%;
}
