.side-header {
	height: 100px;
}

.profile-button {
	text-align: center;
	padding: 10px;
}

.profile-photo {
	margin: 0 auto;
	height: 100px;
	width: 100px;
}

.side-list {
	height: calc(100vh - 100px);
	overflow-y: scroll;
}

.side-list::-webkit-scrollbar {
	display: none;
}

.side-list {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.nav-link {
	text-decoration: none;
}

.nav-card {
	margin: 10%;
	height: 100px;
	text-align: center;
}

.active {
	background: #ff416c; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #ff4b2b, #ff416c); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to bottom,
		#ff4b2b,
		#ff416c
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: white;
}

.nav-card:hover {
	cursor: progress !important;
}

.cardContent {
	margin-top: 10%;
}
