.side-header {
	height: 100px;
}

.profile-button {
	text-align: center;
	padding: 10px;
}

.profile-photo {
	margin: 0 auto;
	height: 100px;
	width: 100px;
}

.side-list {
	height: calc(100vh - 100px);
	overflow-y: scroll;
}

.side-list::-webkit-scrollbar {
	display: none;
}

.side-list {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.nav-link {
	text-decoration: none;
}

.nav-card {
	margin: 10%;
	height: 100px;
	text-align: center;
}

.nav-card:hover {
	cursor: progress !important;
}

.cardContent {
	margin-top: 10%;
}
